/* Global */

.wrapper {
    background: #F3F7FA;
    font-family: 'Open Sans';
    min-height: 100vh;
    overflow: hidden;
    
}

._container {
    max-width: 754px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a, a:visited {
     text-decoration: none;
     color: inherit;
}

a:hover {
     text-decoration: none;
}

/* Style */

.header-logo {
    padding: 17px auto 34px;
}

.header-logo a {
    display: flex;
    justify-content: center;
}

.searchbar {
    border-bottom: 1px solid #DADADA;
    display: flex; 
    margin-bottom: 24px;
}

.searchbar input {
    display: block;
    padding: 20px;
    margin-bottom: 24px;
    box-shadow: 1px 1px 1px#DADADA;
    outline-color: red;
    max-width: 25%;
}

.searchbar input[type="date"] {
    visibility: hidden;
}

.searchbar input::placeholder {
    color: #9EA9B7;
}

.flex-column__start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.filters {
    flex: 30% 1 1;
    margin-right: 20px;
}

.filter__stops {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
}

.filter__company {
    border-radius: 5px;
    background: #fff;
}

.filter__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;
    padding: 20px;
}

.check {
    transition: all .5 ease;
    padding: 15px;
    margin-left: 30px;
    display: block;
}

.check-hover:hover, .radio-hover:hover {
    transition: all .5s ease;
    background: #F1FCFF;
}

.check__input {
    position: absolute;
    visibility: hidden;
}

.check__box {
    position: absolute;
    margin-left: -26px;
    width: 20px;
    height: 20px;
    background: url(../icons/Check-off.svg) no-repeat;
}

.check__input:checked + .check__box {
    background: url(../icons/Check-on.svg) no-repeat;
}

.radio {
    transition: all .5 ease;
    padding: 15px;
    padding-left: 20px;
    margin-left: 24px;
    display: block;
}

.radio__input {
    position: absolute;
    visibility: hidden;
}

.radio__box {
    position: absolute;
    margin-left: -28px;
    width: 22px;
    height: 22px;
    background: url(../icons/Radio-off.svg);
}

.radio__input:checked + .radio__box{
    background: url(../icons/Radio-on.svg);
}

.results {
    flex: 65% 1 1;
}

.results__buttons {
    display: flex;
    justify-content: space-between;
}

.results__buttons button {
    flex: auto;
    padding: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.results__buttons button:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.results__buttons button:nth-child(3) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.results__buttons button:hover:not(.active-result-button){
    background: #F1FCFF;
    transition: all .5s ease;
}

.active-result-button {
    background: #2196F3;
    color: #FFFFFF;
}

.results__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
    background: #FFF;
    border-radius: 5px;
    transition: all .5 ease;
}

.results__card:hover {
    background: #eef7fa;
    transition: all .5 ease;
}

.card__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
}

.card__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.card__time, .stops_cities {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
}
.stops_cities {
    text-transform: uppercase;
}

.show {
    min-width: 100%;
    height: 50px;
    color: #fff;
    background: #2196F3;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
}